<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NT-mealprep</title>
    <style>
    table {border-collapse: collapse; width: 100%;}
    th, td {border: 1px solid black; padding: 8px; text-align: center;}
    th {background-color: #f2f2f2;}
    </style>
</head>
<body>
    <h1>Il mealprep di Nella e Topino</h1>
    <table>
        <tr>
            <th>Lunedì</th>
            <th>Martedì</th>
            <th>Mercoledì</th>
            <th>Giovedì</th>
            <th>Venerdì</th>
            <th>Sabato</th>
            <th>Domenica</th>
        </tr>
        
        <tr>
            <td>{{data[0][0]}}</td>
            <td>{{data[1][0]}}</td>
            <td>{{data[2][0]}}</td>
            <td>{{data[3][0]}}</td>
            <td>{{data[4][0]}}</td>
            <td>{{data[5][0]}}</td>
            <td>{{data[6][0]}}</td>
        </tr>

        <tr>
            <td>{{data[7][0]}}</td>
            <td>{{data[8][0]}}</td>
            <td>{{data[9][0]}}</td>
            <td>{{data[10][0]}}</td>
            <td>{{data[11][0]}}</td>
            <td>{{data[12][0]}}</td>
            <td>{{data[14][0]}}</td>
        </tr>
        
    </table>
    <br>
    <h2>Lista della spesa</h2>
    <table>
        <tr>
            <th>Prodotto</th>
            <th>Quantità</th>
        </tr>
        <!-- Add your grocery list items here -->
    </table>
</body>
</html>